<!--  https://fontawesome.com/icons?d=gallery  -->
<li>
    <a href="https://www.linkedin.com/in/richard-steinmetz/" target="_blank">
        <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
    </a>
</li>

<li>
    <a href="https://github.com/RichStone" target="_blank">
        <i class="fab fa-github" aria-hidden="true"></i> Github
    </a>
</li>

<li>
    <a href="https://twitter.com/stonerichio" target="_blank">
        <i class="fab fa-twitter" aria-hidden="true"></i> Twitter
    </a>
</li>