#mc_embed_signup {
    background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; text-align: center
}
#mc_embed_signup form {
    padding: 3%;
    border-radius: 3%;
}
#mc-embedded-subscribe-form {background: #f8fbfb; padding: 5%;}
#mc-embedded-subscribe {width: 97% !important;}
#mc_embed_signup .button {background: #75cc7b; color: #000000;}
#mc_embed_signup .button:hover {background: #79f59a;}
#mce-EMAIL {width: 97% !important;}
